<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssm.sweetdreamer" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".SignupActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".alarm.AddAlarmActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".alarm.ModifyAlarmActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".alarm.NewAlarmActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".calendar.DateActivity"
            android:screenOrientation="portrait"></activity>

        <service android:name="BGService">
            <intent-filter>
                <action android:name="com.ssm.sweetdreamer.BGService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
